body {
  background-color: aquamarine;
  
}

h1 {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.entry {
  text-align: center;
  margin: 50px;
  padding: 10px;
  word-wrap: break-word;
  font-size: 40px;
}

.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: auto;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
}

.button:hover {
  background-color: #00ff6a;
}

.button:active {
  background-color: #00491e;
}
